header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1 {
    margin: 0;
    font-size: 1.8rem;
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo-title img {
    width: 150px;
    height: auto;
}

header p {
    font-size: 1.2rem;
    font-weight: 900;
    margin-top: 0.1rem;
}

.recipe-search-banner {
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 5px;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.recipe-search-banner h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.recipe-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.recipe-search-input {
    width: 200px;
    padding: 8px;
    font-size: 14px;
    border: 2px solid #ddd;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s ease;
}

.recipe-search-input:focus {
    border-color: #5c6bc0;
}

.search-recipe-btn {
    background-color: #ff5252;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-recipe-btn:hover {
    background-color: #3f4e9b;
}

#recipe-name-suggestions {
    position: absolute;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 0;
}

.suggestion-item {
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.2s;
    color: #1a1e24;
    display: flex;
    justify-content: flex-start;
}

.suggestion-item:hover {
    background-color: #f5f5f5;
}
